@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");

.p1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: "Bevan", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}

.p2 {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  font-family: "Bevan", serif;
  font-weight: 600;
  font-style: normal;
}
