@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=Baloo+2:wght@400..800&family=Bungee+Spice&family=Kurale&family=Marmelad&family=Pacifico&family=Patua+One&family=Rye&display=swap");

.marmelad {
  font-family: "Marmelad", sans-serif;
  font-weight: 700;
  font-style: normal;
}
